body {
    background-color: rgb(41, 35, 0);
    display: grid;
    justify-content: center;
    color: blanchedalmond;
}

div {
    margin:auto;
    text-align:center;
}

span {
    font-size: 32pt;
}

canvas {
    margin: auto;
    width: 50%;
    border: 10px solid white;
    padding: 4px;
}

hr.line1 { 
    height: 30px; 
    border-style: solid; 
    border-color: #8c8b8b; 
    border-width: 1px 0 0 0; 
    border-radius: 20px; 
}

.btn {
    margin: 15px;
}